.match-card {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  transition: background 0.2s;
}

.match-card:hover {
  background: #eee;
}

.match-card-link {
  color: inherit;
  text-decoration: none;
}

.match-card-header {
  display: inline-block;
  margin-right: 1.5rem;
  white-space: nowrap;
}

.match-card-summary {
  margin-top: 0.5rem;
}

.match-card-model {
  cursor: help;
  float: right;
  color: #fff;
  background: #88bb88;
  border-radius: 12px;
  padding: 0em 0.5em;
  font-size: 80%;
}

.match-card-details {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 80%;
}

.italic {
  font-style: italic;
}
